<!-- templates/tag.hbs -->
<!-- SPDX-License-Identifier: MPL-2.0

This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->
{{#> _layout
  pageTitlePrefix="Tag: "
  pageTitleValue=tag
  pageDescription=siteDescription
  isArticle=false
  hasPostsList=true
  showFooterLinks=false
}}

  <p><a href="/">Back</a></p>
  <hr>

  <h1>Tag: {{tag}}</h1>

  <ul class="posts" id="posts-list">
    {{#each posts}}
    <li>
      <h3><a href="{{url}}">{{title}}</a></h3>
      <div class="meta">{{date}}</div>
      {{#if description}}
      <p class="description">{{description}}</p>
      {{/if}}
    </li>
    {{/each}}
  </ul>

{{/_layout}}
