<!-- SPDX-License-Identifier: MPL-2.0

This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.

Recursive partial for rendering navigation tree.
Customize HTML structure here - change to <div> instead of <ul>, etc.
-->

{{#each items}}
  {{#if (eq type 'folder')}}
    <details open>
      <summary>{{title}}</summary>
      <ul>
        {{> _nav-tree items=children}}
      </ul>
    </details>
  {{else if (eq type 'file')}}
    <li><a href="{{url}}">{{title}}</a></li>
  {{/if}}
{{/each}}
